<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/output.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
  <link rel="icon" type="image/svg+xml" href="/images/icons/register.svg" />
  <title>Register</title>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
  <div class="flex flex-col w-96 items-center space-y-4">
    <div id="toast-success"
      class="flex items-center gap-2 w-full max-w-2xl px-8 py-1 text-gray-500 bg-green-600 shadow-sm"
      role="alert">
      <div class="inline-flex items-center justify-center w-8 h-8 text-green-500 rounded-lg">
        <i class="fa-solid fa-circle-check text-2xl" style="color: #ffff;"></i>
      </div>
      <div id="toast-message" class="ms-5 text-white text-lg font-normal">Registered successfully.</div>
      <button id="toast-close" type="button"
        class="ms-auto -mx-1.5 -my-1.5 bg-none text-white hover:text-gray-300 p-1.5 inline-flex items-center justify-center h-8 w-8">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg w-96 relative">
    <h2 class="text-2xl font-bold text-center mb-6">Register</h2>

    <form id="registerForm" action="/register" method="post">
      <div class="grid grid-cols-2 gap-5 mb-4">
        <!-- First Name -->
        <div>
          <label for="firstName" class="label-style">First name</label>
          <input id="firstName" type="text" name="firstName" placeholder="Enter first name"
            value="<%= firstName || '' %>" class="input-normal input-field-style" data-error=<%- JSON.stringify((errors
            && errors.firstName) ? errors.firstName : "" ) %>
          />
        </div>

        <!-- Last Name -->
        <div>
          <label for="lastName" class="label-style">Last name</label>
          <input id="lastName" type="text" name="lastName" placeholder="Enter last name" value="<%= lastName || '' %>"
            class="input-field-style input-normal" data-error=<%- JSON.stringify((errors && errors.lastName) ?
            errors.lastName : "" ) %>
          />
        </div>
      </div>

      <!-- Username -->
      <div class="mb-4">
        <label for="username" class="label-style">Username</label>
        <input id="username" type="text" name="username" placeholder="Enter username" value="<%= username || '' %>"
          class="input-field-style input-normal" data-error=<%- JSON.stringify((errors && errors.username) ?
          errors.username : "" ) %>
        />
      </div>

      <!-- Email -->
      <div class="mb-4">
        <label for="email" class="label-style">Email</label>
        <input id="email" type="email" name="email" placeholder="Enter email" value="<%= email || '' %>"
          class="input-field-style input-normal" />
      </div>

      <!-- Password -->
      <div class="mb-4">
        <label for="password" class="label-style">Password</label>
        <input id="password" type="password" name="password" placeholder="Enter password"
          class="input-field-style input-normal" data-error=<%- JSON.stringify((errors && errors.password) ?
          errors.password : "" ) %>
        />
      </div>

      <!-- Register -->
      <button type="submit"
        class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
        Register
      </button>

      <div class="text-center mt-4">
        <p class="text-sm text-gray-600">
          Already have an account?
          <a href="/login" class="text-indigo-600 hover:underline">Login</a>
        </p>
      </div>
    </form>
  </div>
  </div>
  
  <script src="/js/register-validation.js"></script>
</body>

</html>